@page
@model IndexModel
@{
    ViewData["Title"] = "Manage Account";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<partial name="_SettingsNav" model=null />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
