@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item px-3">
            <div class="rounded-1 align-self-center py-2" style="text-align: center;">
                <span style="color: white; font-weight: bold;">
                    @User.Identity.Name
                </span>
            </div>
        </li>
        <li class="nav-item px-3">
            <form style="text-align: right;" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                <button type="submit" class="btn btn-primary">
                    <span class="oi oi-account-logout mx-1" title="account login" aria-hidden="true"></span>
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item px-3 my-2" style="text-align: right;">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success">
                Register
            </a>
        </li>
        <li class="nav-item px-3 my-2" style="text-align: right;">
            <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary">
                <span class="oi oi-account-login mx-1" title="account login" aria-hidden="true"></span>
                Login
            </a>
        </li>
    }
</ul>