@page
<div class="col-md-3 my-2">
    <a class="btn btn-primary my-2" href="/Identity/Account/Manage/TwoFactorAuthentication">
        <span class="oi oi-shield mx-1" aria-hidden="true" height="50" width="50"></span>
        Authenticator
    </a>
    <a class="btn btn-primary my-2" href="/Identity/Account/Manage/ChangePassword">
        <span class="oi oi-key mx-1" aria-hidden="true" height="50" width="50"></span>
        Change Password
    </a>
    <a class="btn btn-primary my-2" href="/Identity/Account/Manage/Email">
        <span class="oi oi-envelope-closed mx-1" aria-hidden="true" height="50" width="50"></span>
        Update Email
    </a>
    <a class="btn btn-primary my-2" href="/Identity/Account/Manage/PersonalData">
        <span class="oi oi-folder mx-1" aria-hidden="true" height="50" width="50"></span>
        Personal Data
    </a>
    <a class="btn btn-warning my-2" href="/Identity/Account/Manage/DeletePersonalData">
        <span class="oi oi-warning mx-1" aria-hidden="true" height="50" width="50"></span>
        Delete Account
    </a>
</div>