@inject IFriendHandler friendHandler
@inject ILogger<RequestEntry> logger

@using DingoAuthentication.Encryption

@inject IEncryptedClientStateHandler encryptionStateHandler
@inject IEncryptionClient<EncryptedDataModel> encryptionClient
@inject IKeyAndBundleHandler<KeyBundleModel> bundleHandler

@using DingoDataAccess.Models.Friends

<tr scope="row">
    <td class="col-lg-1 col-md-2 col-sm-3 col-2 align-middle">
        <img src=@friend.AvatarPath class="img-fluid rounded-circle" />
    </td>
    <td class="col-lg-6 col-md-5 col-sm-4 col-5 align-middle">
        <div class="row h4">
            @friend.DisplayName#@friend.UniqueIdentifier.ToString()
        </div>
        <div class="row">
            @friend.Status.ToString()
        </div>
    </td>
    <td class="col-lg-5 col-md-5 col-sm-5 col-5 align-middle">
        <div class="row align-middle">
            <div class="col-sm-4" style="text-align: center;">
                @if (ShowSpinner == 0)
                {
                    <div class="spinner-border text-success my-2" role="status">
                        <span class="visually-hidden">Adding...</span>
                    </div>
                }
                else
                {
                    <button class="btn btn-link rounded-circle row oi oi-circle-check text-decoration-none" title="circle check" aria-hidden="true" style=@AcceptStyle @onclick=@AcceptRequest />
                }
            </div>
            <div class="col-sm-4" style="text-align: center;">
                @if (ShowSpinner == 1)
                {
                    <div class="spinner-border text-secondary my-2" role="status">
                        <span class="visually-hidden">Ignoring...</span>
                    </div>
                }
                else
                {
                    <button class="btn btn-link rounded-circle row oi oi-circle-x text-decoration-none" title="circle check" aria-hidden="true" style=@IgnoreStyle @onclick=@IgnoreRequest />
                }
            </div>
            <div class="col-sm-4" style="text-align: center;">
                @if (ShowSpinner == 2)
                {
                    <div class="spinner-border text-danger my-2" role="status">
                        <span class="visually-hidden">Blocking...</span>
                    </div>
                }
                else
                {
                    <button class="btn btn-link rounded-circle row oi oi-ban text-decoration-none" title="circle check" aria-hidden="true" style=@BlockStyle @onclick=@BlockRequest />
                }
            </div>
        </div>
        <div class="row align-middle">
            <div class="col-sm-4" style="text-align: center;">
                Accept
            </div>
            <div class="col-sm-4" style="text-align: center;">
                Ignore
            </div>
            <div class="col-sm-4" style="text-align: center;">
                Block
            </div>
        </div>
    </td>
</tr>

@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public IFriendModel friend { get; set; }

    [Parameter]
    public List<IFriendModel> Requests { get; set; }

    [Parameter]
    public Action StateHasChangedCallback { get; set; }

    private string IconSize = "font-size: xx-large;";

    private string AcceptStyle => IconSize + "color: green;";

    private string IgnoreStyle => IconSize + "color: black;";

    private string BlockStyle => IconSize + "color: red;";

    private bool BlockInput = false;

    private int ShowSpinner = -1;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        logger.LogInformation("Initialized Component {ComponentName} Params: {Param1}:{Param1Value} {Param2}:{Param2Value} {Param3}:{Param3Value}", nameof(RequestEntry), nameof(Id), Id, nameof(friend), friend, nameof(Requests), Requests);
    }

    private Task Wait()
    {
        return Task.Run(() => System.Threading.Thread.Sleep(500));
    }

    private async Task CreateAndAddBundle()
    {
        // when we accept a request we need to create a new bundle and send it to the other party, the other party generated their bundle when they sent the request
        // import our identity keys
        var keys = await bundleHandler.GetKeys(Id);

        if (keys.X509IdentityKey != null && keys.IdentityPrivateKey != null)
        {
            // generate a new bundle and save it to the server
            IKeyBundleModel bundle = encryptionClient.GenerateBundle(keys.X509IdentityKey, keys.IdentityPrivateKey);

            if (bundle is KeyBundleModel b)
            {
                // add OUR bundle to THIER bundles
                await bundleHandler.SetBundle(friend.Id, Id, b);
            }

            // since the other party already generated the bundle we can create the secret and save the state of our encryption client

            IKeyBundleModel otherPartiesBundle = await bundleHandler.GetBundle(Id, friend.Id);

            if (bundle != null)
            {
                if (encryptionClient.CreateSecretUsingBundle(otherPartiesBundle))
                {
                    // if we were able to sucessfully create a secret save our encryption state and remove the budle from our bundles
                    string clientState = encryptionClient.ExportState();

                    if (await encryptionStateHandler.SetState(Id, friend.Id, clientState))
                    {
                        // since we saved the state of our encryption client we can delete the bundle from the server
                        if (await bundleHandler.RemoveBundle(Id, friend.Id))
                        {
                            logger.LogInformation("Sucessfully created secret and removed bundle from server for {Id}", Id);
                        }
                        else
                        {
                            logger.LogError("Failed to remove bundle for friend {FriendId} for {Id}", friend.Id, Id);
                        }
                    }
                    else
                    {
                        logger.LogError("Failed to set encryption client state for {Id}", Id);
                    }
                }
                else
                {
                    logger.LogError("Failed to create secret using Bundle for {Id}", Id);
                }
            }
            else
            {
                logger.LogError("Failed to retrieve bundle for other party for {Id}", Id);
            }
        }
        else
        {
            logger.LogError("Failed to {MethodName} for {Id} no keys retrieved from bundle handler", nameof(CreateAndAddBundle), Id);
        }
    }

    private async Task IgnoreBundle()
    {
        // since we don't want to accept a request we should remove the bundle from our bundle list since we aren't going to use it
        if (await bundleHandler.RemoveBundle(Id, friend.Id))
        {
            logger.LogInformation("Removed {FriendId} bundle for {Id}", friend.Id, Id);
        }
    }

    private async Task AcceptRequest()
    {
        if (BlockInput)
        {
            return;
        }
        BlockInput = true;
        ShowSpinner = 0;

        await Wait();

        // create a shared secret and send our key bundle to the other party so we can chat
        await CreateAndAddBundle();

        // add the other person to our friendslist
        await friendHandler.AddFriend(Id, friend.Id);

        // add us to their friends list
        await friendHandler.AddFriend(friend.Id, Id);

        // remove them from our request list
        await friendHandler.RemoveRequest(Id, friend.Id);

        // remove them from the list
        Requests.Remove(friend);

        ShowSpinner = -1;
        BlockInput = false;

        // notify our parent component that we have changed and it should re-draw the request list
        StateHasChangedCallback?.Invoke();
    }

    private async Task IgnoreRequest()
    {
        if (BlockInput)
        {
            return;
        }
        BlockInput = true;
        ShowSpinner = 1;

        await Wait();

        // remove their encryption key bundle from our bundle list since we aren't going to use it
        await IgnoreBundle();

        // remove them from our request list
        await friendHandler.RemoveRequest(Id, friend.Id);

        // remove them from the list
        Requests.Remove(friend);

        ShowSpinner = -1;
        BlockInput = false;

        // notify our parent component that we have changed and it should re-draw the request list
        StateHasChangedCallback?.Invoke();
    }

    private async Task BlockRequest()
    {
        if (BlockInput)
        {
            return;
        }

        BlockInput = true;
        ShowSpinner = 2;

        await Wait();

        // remove their encryption key bundle from our bundle list since we aren't going to use it
        await IgnoreBundle();

        await friendHandler.BlockFriend(Id, friend.Id);

        // remove them from our request list
        await friendHandler.RemoveRequest(Id, friend.Id);

        // remove them from the list
        Requests.Remove(friend);

        ShowSpinner = -1;
        BlockInput = false;

        // notify our parent component that we have changed and it should re-draw the request list
        StateHasChangedCallback?.Invoke();
    }
}