@page "/"

@inject IDisplayNameHandler nameHandler

@inject ILogger<Index> logger

@implements IDisposable

@using Dingo.Data.GeneralModels

@code{
    [CascadingParameter(Name = "Id")]
    public string Id { get; set; }

    [CascadingParameter(Name = "TopLevel")]
    public TopLevelObjects TopLevel { get; set; }

    public void Dispose() => TopLevel?.Dispose();
}

<AuthorizeView>
    @if (TopLevel?.ShowChatInterface is true && TopLevel?.CurrentChatId != null)
    {
        <Dingo.Pages.Messaging.Message FriendId=@TopLevel.CurrentChatId />
    }
    else
    {
        <div class="col-lg-6 col-md-10 col-xs-12">
            <Dingo.Pages.Account.ManageFriends Id=@Id />
        </div>
    }
</AuthorizeView>
