<div class="d-none d-md-block col" style="text-align: center;">
    <div class="col h4">
        A fully Encrypted Secure Messenger
    </div>
    <h5 class="my-2">
        No Logs  No Records  No Memory just <span class="brand-text">Dingo</span>
    </h5>
    <div class="col-3" style="text-align: center;">
        <img src="/Images/App_Preview_Small.webp" class="flex w-100 rounded-2 border border-secondary" />
    </div>
    <div class="col-9 my-2" style="text-align: center;">
        <img src="/Images/App_Preview.webp" class="flex w-100 rounded-2  border border-secondary" />
    </div>
</div>
<div class="d-block d-md-none flex flex-column" style="text-align: center;">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="Identity/Account/Login" class="btn btn-primary w-100">
                <span class="oi oi-account-login" title="account login" aria-hidden="true"></span>
                Login
            </a>
        </li>
        <li class="list-group-item">
            <a href="Identity/Account/Register" class="btn btn-success w-100">
                <span class="oi oi-person" title="account login" aria-hidden="true"></span>
                Create Account
            </a>
        </li>
    </ul>
    <h4 class="my-3">
        A Fully Encrypted Secure Messenger
    </h4>
    <h5 class="">
        No Logs  No Records  No Memory just <span class="brand-text">Dingo</span>
    </h5>
    <div class="rounded-2" style="text-align: center;">
        <img src="/Images/App_Preview_Small.webp" class="flex w-100 rounded-2 border border-secondary" />
    </div>
    <div class="rounded-2 my-2" style="text-align: center;">
        <img src="/Images/App_Preview.webp" class="flex w-100 rounded-2  border border-secondary" />
    </div>
</div>
@code {

}
