<h4>Your data and how Dingo handles it</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Your Data
            </th>
            <th>
                Is It Collected?
            </th>
            <th>
                How Long It's Kept
            </th>
            <th>
                How It's Stored
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <span class="oi oi-comment-square mx-1" title="Messages"></span> Messages
            </td>
            <td>
                <span class="oi oi-circle-check" title="Collected"></span>
            </td>
            <td>
                Until Read by Recipient
            </td>
            <td>
                <div>
                    <span class="oi oi-shield mx-1" title="Encrypted"></span>AES-256
                </div>
                <div>
                    <span class="oi oi-key mx-1" title="Signed"></span>Elliptic Curve-128
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="oi oi-envelope-closed mx-1" title="Email"></span> Email
            </td>
            <td>
                <span class="oi oi-circle-check" title="Collected"></span>
            </td>
            <td>
                Until Account Deletion
            </td>
            <td>
                <span class="material-icons">
                    warning
                </span>
                Plain-Text
            </td>
        </tr>
        <tr>
            <td>
                <span class="oi oi-person mx-1" title="Username"></span> Display Name
            </td>
            <td>
                <span class="oi oi-circle-check" title="Collected"></span>
            </td>
            <td>
                Until Account Deletion
            </td>
            <td>
                <span class="material-icons">
                    warning
                </span>
                Plain-Text
            </td>
        </tr>
        <tr>
            <td>
                <span class="oi oi-key mx-1" title="Password"></span> Password
            </td>
            <td>
                <span class="oi oi-circle-check" title="Collected"></span>
            </td>
            <td>
                Until Account Deletion
            </td>
            <td>
                <span class="oi oi-shield mx-1" title="Encrypted"></span>SHA-384
            </td>
        </tr>
        <tr>
            <td>
                <span class="oi oi-image mx-1" title="Avatar"></span> Avatar
            </td>
            <td>
                <span class="oi oi-circle-check" title="Collected"></span>
            </td>
            <td>
                Until Account Deletion
            </td>
            <td>
                <span class="material-icons">
                    warning
                </span>
                Base-64 Encoded
            </td>
        </tr>
        <tr>
            <td>
                <span class="oi oi-clock mx-1" title="Times"></span> Message Frequency
            </td>
            <td>
                <span class="oi oi-circle-x" title="Never Collected"></span>
            </td>
            <td>
                Never
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <span class="oi oi-clock mx-1" title="Times"></span> Login Frequency
            </td>
            <td>
                <span class="oi oi-circle-x" title="Never Collected"></span>
            </td>
            <td>
                Never
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <span class="oi oi-clock mx-1" title="Times"></span> Length of Stay
            </td>
            <td>
                <span class="oi oi-circle-x" title="Never Collected"></span>
            </td>
            <td>
                Never
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <span class="oi oi-clock mx-1" title="Times"></span> Length of Time using Dingo
            </td>
            <td>
                <span class="oi oi-circle-x" title="Never Collected"></span>
            </td>
            <td>
                Never
            </td>
            <td>
            </td>
        </tr>
    </tbody>
</table>
@code {

}
