@inherits LayoutComponentBase

@inject IDisplayNameHandler nameHandler
@inject IStatusHandler statusHandler
@inject IFriendHandler friendHandler

@using DingoDataAccess.Models.Friends

<CascadingValue Value=@TopLevel Name="TopLevel">
    <CascadingValue Value=@Id Name="Id">
        <CascadingValue Value=@DisplayName Name="DisplayName">
            <CascadingValue Value=@MyFriendInfo Name="MyFriendInfo">
                <div class="sidebar">
                    <NavMenu />
                </div>
                <div class="main">
                    <div class="content px-4">
                        @Body
                    </div>
                </div>
                <Dingo.Pages.Components.Toasts />
                <Dingo.Pages.Components.Modals />
                <Dingo.Pages.Account.ChangeAvatar />
                <Dingo.Pages.Account.ChangeUsername />
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code{
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string DisplayName { get; set; }

    [Parameter]
    public IFriendModel MyFriendInfo { get; set; }

    public readonly TopLevelObjects TopLevel = new();

    [Parameter]
    public MessageCallbackReference messageCallbackReference { get; set; } = new();

    [CascadingParameter]
    protected Task<AuthenticationState> AuthStat { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // only get the id and name if its not passed a param as a component
        // this helps reduce the # of requests to the DB
        // check to see if we need to get the display and id to change the name
        if (AuthStat != null)
        {
            await SetUserInfo();

            await SetOnlineStatus();
        }

        TopLevel.StateHasChanged = () => InvokeAsync(() => TopLevelStateChange());

        await SetupTimers();
    }

    private async Task SetOnlineStatus()
    {
        var lastStatus = await statusHandler.TryGetLastVirtualStatus(Id);

        // make sure our virtual status is set before our actual status to avoid notfiying other clients
        if (lastStatus.result && lastStatus.status != DingoDataAccess.Enums.OnlineStatus.Offline)
        {
            if (MyFriendInfo.VirtualStatus != lastStatus.status)
            {
                await statusHandler.SetVirtualStatus(Id, lastStatus.status);
                MyFriendInfo.VirtualStatus = lastStatus.status;
            }
        }

        // set the internal status of the user to online
        await statusHandler.SetStatus(Id, DingoDataAccess.Enums.OnlineStatus.Online);

        if (MyFriendInfo != null)
        {
            MyFriendInfo.Status = DingoDataAccess.Enums.OnlineStatus.Online;
        }
    }


    private async Task SetUserInfo()
    {
        // get the auth state from the cascaded param
        var auth = await AuthStat;

        // get the id, it's okay if its null becuase GetDisplayName returns instantly if it's null
        Id = auth?.User?.Claims?.FirstOrDefault()?.Value;

        // get the display name, this should NEVER be null as it's displayed to the user
        DisplayName = Id is null ? "" : await nameHandler.GetDisplayName(Id) ?? "";

        MyFriendInfo = await friendHandler.GetFriend(Id);
    }

    private void TopLevelStateChange()
    {
        StateHasChanged();
    }

    private async Task SetupTimers()
    {
        await TopLevel.AddTimer(15_000, GetFriendRequests, nameof(Dingo.Pages.Account.Requests.ViewRequests));
        // make sure to set the override so when the user manually navigates to the request component they can force a refresh without having to wait
        TopLevel.GetFriendRequests = GetFriendRequests;
    }

    private async Task GetFriendRequests()
    {
        var newRequests = await friendHandler.GetRequests(Id);

        bool changed = false;

        foreach (var item in newRequests)
        {
            if (TopLevel.WaitingRequestIds.Contains(item.Id) is false)
            {
                TopLevel.toasts.Add(new Data.GeneralModels.ToastModel()
                {
                    Content = $"{item.DisplayName}#{item.UniqueIdentifier} sent you a friend request.",
                    Title = $"Friend Request",
                    Timeout = TimeSpan.FromSeconds(20)
                });

                TopLevel.WaitingRequestIds.Add(item.Id);

                changed = true;
            }
        }

        if (changed)
        {
            TopLevel.FriendRequests = newRequests;
        }
    }
}