@using DingoDataAccess.Models.Friends

<li class="nav-item px-3">
    <div class="btn btn-primary w-100" @onclick=Click>
        <div class="position-relative w-100">
            <div class="text-wrap" style="max-width: 250px; color: white; font-weight: 500;">
                <span class="oi oi-chat"></span>
                @(Friend?.DisplayName ?? "Loading")
                <span style="color: grey; font-size: 1em;">
                    #@(Friend?.UniqueIdentifier.ToString() ?? "Loading")
                </span>
            </div>
        </div>
    </div>
</li>

@code {
    // this is a message component to display in the nav bar

    // the friend info to display for 'who the message is from'
    [Parameter]
    public IFriendModel Friend { get; set; }

    [Parameter]
    public bool UnreadMessage { get; set; } = true;

    [CascadingParameter(Name = "messageCallbackReference")]
    protected MessageCallbackReference messageCallbackReference { get; set; }

    private async Task Click()
    {
        messageCallbackReference.FriendId = Friend.Id;
        await messageCallbackReference.Callback?.Invoke();
    }
}