@inject ILogger<Avatar> logger

@using DingoDataAccess.Models.Friends
@using Dingo.Data.GeneralModels

<div class="position-relative">
    <div class="ratio ratio-1x1 w-50 start-50 end-50 translate-middle-x" @onmouseover=Hover_DimAvatar @onmouseout=Hover_UnDimAvatar>
        <img class="rounded-circle d-block mx-auto" style=@AvatarStyle src=@(MyFriendInfo?.AvatarPath ?? "/Images/DefaultAvatar.webp") />
        <button class="position-absolute top-50 start-50 translate-middle btn btn-link" style=@EditButtonStyle @onclick=Change_Avatar>
            <span class="oi oi-pencil py-1 d-none d-md-inline" style="color: white;"></span>
            <div style="color: white; font-weight: bold;">
                Change
            </div>
        </button>
    </div>
</div>

@code {
    [CascadingParameter(Name = "Id")]
    protected string Id { get; set; }

    [CascadingParameter(Name = "MyFriendInfo")]
    protected IFriendModel MyFriendInfo { get; set; }

    [CascadingParameter(Name = nameof(TopLevel))]
    protected TopLevelObjects TopLevel { get; set; }

    private bool DimAvatar = false;

    private string AvatarStyle => DimAvatar ? "filter: brightness(50%);" : "";

    private string EditButtonStyle => DimAvatar ? "" : "display: none;";

    private void Hover_DimAvatar()
    {
        DimAvatar = true;
    }

    private void Hover_UnDimAvatar()
    {
        DimAvatar = false;
    }

    private async Task Change_Avatar()
    {


        await Dingo.Helpers.Sleep(100);

        TopLevel.ShowChangeAvatar = true;

        TopLevel.StateHasChanged.Invoke();
    }
}
