@using Data.GeneralModels

@inject ILogger<ChangeUsername> logger

@inject NavigationManager NavManager
@using DingoDataAccess.Models.Friends
@inject IDisplayNameHandler nameHandler
@inject IFriendHandler friendHandler

<div class=@ModelClass tabindex="-1" aria-hidden="true" style=@ModalStyle>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick=@Cancel></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <EditForm Context="User" @bind-model="newUsername" OnValidSubmit="@Submit">
                    <label class="form-label" style="color:red; font-weight: bold;">@ValidationError</label>
                    <InputText class="form-control my-2" @bind-Value=@newUsername.Term />
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick=@Cancel>@CancelText</button>
                <button type="button" class=@ButtonClass @onclick=@Submit>
                    <span class="oi oi-check" role="status" aria-hidden="true" style=@CheckStyle></span>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style=@SpinnerStyle></span>
                    @ButtonText
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    [CascadingParameter(Name = "Id")]
    public string Id { get; set; }

    [CascadingParameter(Name = "MyFriendInfo")]
    public IFriendModel MyFriendInfo { get; set; }

    [CascadingParameter(Name = "TopLevel")]
    public TopLevelObjects TopLevel { get; set; }

    [CascadingParameter(Name = "DisplayName")]
    public string DisplayName { get; set; } = null;

    private SingleSearchTermModel newUsername = new();

    public string Title { get; set; } = "Change Display Name";

    public string CancelText { get; set; } = "Cancel";

    public string SubmitText { get; set; } = "Save";

    private string ModelClass => TopLevel?.ShowChangeDisplayName is true ? "modal fade show" : "modal fade";
    private string ModalStyle => TopLevel?.ShowChangeDisplayName is true ? "display: unset;" : "display: none;";

    private string ValidationError = "";

    private bool blockInput = false;

    private void Cancel()
    {
        if (blockInput)
        {
            return;
        }

        blockInput = true;

        TopLevel.ShowChangeDisplayName = false;

        blockInput = false;
    }


    private async Task Submit()
    {
        if (blockInput)
        {
            return;
        }

        blockInput = true;

        ValidationError = "";

        if (await UpdateUsername())
        {
            TopLevel.ShowChangeDisplayName = false;
            UpdateButton("Change", false, false);
        }

        TopLevel.StateHasChanged();

        blockInput = false;
    }

    private string SpinnerStyle = "display: none";
    private string ButtonText = "Change";
    private string ButtonClass = "btn btn-primary";
    private string CheckStyle = "display: none";

    private const string blacklisted = ";=-\\`'";

    private void UpdateButton(string text, bool complete, bool spinner)
    {
        SpinnerStyle = spinner ? "" : "display: none;";
        ButtonText = text ?? "Change";
        ButtonClass = complete ? "btn btn-success" : "btn btn-primary";
        CheckStyle = complete ? "" : "display: none;";
    }

    private async Task<bool> UpdateUsername()
    {
        // make sure the name isnt empty
        if (string.IsNullOrEmpty(newUsername.Term))
        {
            ValidationError = "New Display Name is required";
            return false;
        }

        if (string.IsNullOrWhiteSpace(newUsername.Term))
        {
            ValidationError = "New Display Name is required";
            return false;
        }

        // make sure it's not the same name
        if (newUsername.Term == DisplayName)
        {
            ValidationError = "ಠ_ಠ You're already named that... ಠ_ಠ";
            return false;
        }

        if (newUsername.Term.Contains("1=1"))
        {
            ValidationError = "You can try better than that (◡︵◡)";
            return false;
        }

        if (newUsername.Term.Contains("Robert'); DROP TABLE Students;--"))
        {
            ValidationError = "Well, we've lost this year's student records. I hope you're happy.";
            return false;
        }

        if (newUsername.Term.Contains("DROP TABLE"))
        {
            ValidationError = "୧༼ಠ益ಠ༽︻╦╤─ - - - - -";
            return false;
        }

        if (newUsername.Term.Contains("SELECT *"))
        {
            ValidationError = $"{new System.Random().Next()} ROWS AFFECTED;";
            return false;
        }

        if (newUsername.Term.Contains("');"))
        {
            ValidationError = "I'm watching you. (☉_⚆)";
            return false;
        }

        if (newUsername.Term.Contains("<script>"))
        {
            ValidationError = "ㆆ _ ㆆ";
            return false;
        }

        foreach (var item in blacklisted)
        {
            if (newUsername.Term.Contains(item))
            {
                ValidationError = $"Name can't contain: {string.Join("  ", blacklisted.ToCharArray())}";
                return false;
            }
        }


        // update the button to show that we are working on changing the name
        UpdateButton("Changing", false, true);

        // logg the information
        logger.LogInformation("Changing username for {Id} to: {NewUsername}", Id, newUsername.Term);

        // set / update the name, this uses parameterized procedures and rewplaces ; and ' limiting sql injection opportunities
        if (await nameHandler.SetDisplayName(Id, newUsername.Term))
        {
            // update the field so we cant change the name multiple times to the same thing
            DisplayName = newUsername.Term;

            MyFriendInfo.DisplayName = newUsername.Term;

            TopLevel.StateHasChanged();

            // this is to make the user feel like the username has really been changed
            await Task.Run(() => System.Threading.Thread.Sleep(500));

            // update the GUI to reflect the completed process
            UpdateButton("Changed", true, false);

            // add a toast to notify user that display name has been changed!
            TopLevel.toasts.Add(new ToastModel()
            {
                Timeout = TimeSpan.FromSeconds(5),
                Content = $"Display name sucessfully changed to {newUsername.Term} ٩(^‿^)۶",
                Title = "Success!"
            });
        }
        else
        {
            // add a toast to notify user that something went wrong =(
            TopLevel.toasts.Add(new ToastModel()
            {
                Timeout = TimeSpan.FromSeconds(5),
                Content = $"Something went wrong changing your display name, try again later. ಥᴥಥ",
                Title = "Ruh Roh!"
            });
        }

        TopLevel.StateHasChanged();

        return true;
    }
}
