@using DingoDataAccess.Models.Friends
@using DingoDataAccess.Enums

@inject ILogger<StatusDropDown> logger
@inject IStatusHandler statusHandler

<div class="btn-group">
    <style>
        .dropdown-item {
            color: black;
        }
    </style>
    <button type="button" class=@OnlineStatusClass>
        @OnlineStatusText
    </button>
    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" @onclick=@ToggleDropdown aria-expanded="false">
        <span class="visually-hidden">Toggle Dropdown</span>
    </button>
    <ul class=@DropDownClass style="color: black;">
        <li><span class="dropdown-item" @onclick=@(e=>UpdateStatus(OnlineStatus.Online))>Online</span></li>
        <li><span class="dropdown-item" @onclick=@(e=>UpdateStatus(OnlineStatus.Busy))>Busy</span></li>
        <li><span class="dropdown-item" @onclick=@(e=>UpdateStatus(OnlineStatus.LookingToChat))>Looking To Chat</span></li>
        <li><span class="dropdown-item" @onclick=@(e=>UpdateStatus(OnlineStatus.DoNotDisturb))>Do Not Disturb</span></li>
        <li><hr class="dropdown-divider"></li>
        <li><span class="dropdown-item" @onclick=@(e=>UpdateStatus(OnlineStatus.Invisible))>Invisible</span></li>
    </ul>
</div>

@code {
    [CascadingParameter(Name = "Id")]
    public string Id { get; set; }

    private bool ShowOnlineStatusDropDown = false;

    private string DropDownClass => ShowOnlineStatusDropDown ? "dropdown-menu show" : "dropdown-menu";

    private OnlineStatus Status = OnlineStatus.Offline;

    private string OnlineStatusText => Status switch
    {
        OnlineStatus.Busy => "Busy",
        OnlineStatus.DoNotDisturb => "Do Not Disturb",
        OnlineStatus.Invisible => "Invisible",
        OnlineStatus.LookingToChat => "Looking to Chat",
        _ => "Online"
    };

    private string OnlineStatusClass => Status switch
    {
        OnlineStatus.Busy => "btn btn-warning rounded-start",
        OnlineStatus.DoNotDisturb => "btn btn-danger rounded-start",
        OnlineStatus.Invisible => "btn btn-secondary rounded-start",
        OnlineStatus.LookingToChat => "btn btn-primary rounded-start",
        _ => "btn btn-success rounded-start"
    };

    private async Task UpdateStatus(OnlineStatus status)
    {
        Status = status;

        ShowOnlineStatusDropDown = false;

        await statusHandler.SetVirtualStatus(Id, status);
    }

    private void ToggleDropdown()
    {
        ShowOnlineStatusDropDown = !ShowOnlineStatusDropDown;
    }
}
